<header>
    <h3 class="version-header">History: <a href="/articles/{{articleId}}">{{articleName}}</a></h3>
    <form method="GET" id="version-form">
        <label>Version:</label>
        <select name="v">
            {{#each version}}
            <option name={{this}} {{selectedOpt this}}>{{this}}</option>
            {{/each}}
        </select>
        <input type="submit" id="submit-version" value="Go">
    </form>
</header>

<p class="small-information-text">Version: {{articleVersion}} | Edited by {{editedBy}} on {{articleUpdatedDate}}</p>





<div class="article-content">
    <p>{{articleContent}}</p>
</div>
