<p>Article called {{articleName}}</p>
<p>Article created on {{articleCreationDate}}</p>
<p>{{articleContent}}</p>



<br>
<a href = "/articles">See more articles</a>
<br>
{{#if loggedInUser}}
<a href = {{articleEdit}}>Edit this page</a>
<br>
{{/if}}
<a href = {{articleHistory}}>See page's history</a>
