<h3>History: {{articleName}}</h3>
<p class="small-information-text">Version: {{version}}</p>
<!-- //For {{numVersions}}, have dropdown form submission of number of versions (or list of links) which reload articleContent, Version and edited by (and editedDate)
//How to reload content? With page reload? Add query parameter to URL? Or able to fetch asynchronously and avoid route and page refresh? -->

<form action="GET">
  <select name="v">

 	<option value="0">0</option>
 	<option value="1">1</option>
 	<option value="2">2</option>
 	<option value="3">3</option>
 	<option value="4">4</option>
  </select>
  <br><br>
  <input type="submit">
</form>

<p class="small-information-text">Edited by {{editedBy}} <!-- on {{articleUpdatedDate}} --></p>

<div class="article-content"><p>{{articleContent}}</p></div>