<h3>History: <a href="/articles/{{articleId}}">{{articleName}}</a></h3>

<p class="small-information-text">Version: {{articleVersion}}</p>
<p class="small-information-text">Edited by {{editedBy}} on {{articleUpdatedDate}}</p>

<form method="GET">
  <select name="v">
	{{#each version}}
        <option name={{this}}>{{this}}</option>
	{{/each}}
  	
  </select>
  <br><br>
  <input type="submit">
</form>



<div class="article-content"><p>{{articleContent}}</p></div>