<h3 class="article-title">{{articleName}}</h3>
<p class="small-information-text">Created : {{articleCreationDate}}</p>
<p class="small-information-text">Last updated : {{articleUpdatedDate}}</p>
<div class="article-content"><p>{{articleContent}}</p></div>



<br>
<a href = "/articles" class="small-information-text">See more articles</a>
<br>
{{#if loggedInUser}}
<a href = {{articleEdit}} class="small-information-text">Edit this page</a>
<br>
{{/if}}
<a href = {{articleHistory}} class="small-information-text">See page's history</a>
