<h3>History: {{articleName}}</h3>
<p class="small-information-text">Version: {{articleVersion}}</p>

<form method="GET">
  <select name="v">
	{{#each version}}
        <option name={{this}}>{{this}}</option>
	{{/each}}
  	
  </select>
  <br><br>
  <input type="submit">
</form>

<p class="small-information-text">Edited by {{editedBy}} <!-- on {{articleUpdatedDate}} --></p>

<div class="article-content"><p>{{articleContent}}</p></div>