<h3>History: {{articleName}}</h3>

//For {{numVersions}}, have dropdown form submission of number of versions (or list of links) which reload articleContent, Version and edited by (and editedDate)
//How to reload content? With page reload? Add :version parameter to URL? and a new route? Or able to fetch asynchronously and avoid route and page refresh?

<form>
  <select name="versions">
 //   <option value="volvo">Volvo</option>
 //   <option value="saab">Saab</option>
 //   <option value="fiat">Fiat</option>
 //   <option value="audi">Audi</option>
  </select>
  <br><br>
  <input type="submit">
</form>

<p class="small-information-text">Edited by {{editedBy}} on {{articleUpdatedDate}}</p>

<div class="article-content"><p>{{articleContent}}</p></div>