<h2>Hello! Looks like you're new here. Please sign up.</h2>
<br>
<br>
<form method='POST'>
  <input type='text' name='name' placeholder='What is your name?' required value={{name}}>
  <input type="password" name="password" placeholder='Password?' value="" required>
  <input type="password" name="verify" placeholder='Repeat password.' value="" required>
  <input type="text" name="email" placeholder='Email?' value={{email}}>
  <label><input type='checkbox' name='remember'>Remember me</label>
  <br>
  <input type='submit'>
</form>
<br>
<p>Already have an account? <a href="/users/login">Log in</a></p>
<br>
<p style='color:red'>{{errorMessage}}</p>
<p style='color:red'>{{errorMessageUsername}}</p>
<p style='color:red'>{{errorMessagePassword}}</p>
<p style='color:red'>{{errorMessageVerify}}</p>
<p style='color:red'>{{errorMessageEmail}}</p>