<h2>Hello! Looks like you're new here. Please sign up.</h2>
<form method='POST'>
	<p style='color:red'>{{errorMessage}}</p>
  <label>Name:</label><input type='text' name='name' placeholder='What is your name?' required value={{name}}>
  <br>
  <label>Password:</label><input type="password" name="password" placeholder='Password?' value="" required>
  <br>
  <label>Confim password:</label><input type="password" name="verify" placeholder='Repeat password.' value="" required>
  <br>
  <label>Email:</label><input type="text" name="email" placeholder='Email?' value={{email}}>
  <br>
  <br>
  <label id="remember">Remember me</label><input type='checkbox' name='remember'>
  <input type='submit'>
</form>
<br>
<p>Already have an account? <a href="/users/login">Log in</a></p>
<br>
<p style='color:red'>{{errorMessage}}</p>
<p style='color:red'>{{errorMessageUsername}}</p>
<p style='color:red'>{{errorMessagePassword}}</p>
<p style='color:red'>{{errorMessageVerify}}</p>
<p style='color:red'>{{errorMessageEmail}}</p>