<h3>Hello! Looks like you're new here. Please sign up.</h3>
<form method='POST'>
	<p class='error'>{{errorMessage}}</p>
  <label>Name:</label><input type='text' name='name' placeholder='What is your name?' required value={{name}}>
  <p class='error'>{{errorMessageUsername}}</p>
  <br>
  <label>Password:</label><input type="password" name="password" placeholder='Password?' value="" required>
  <p class='error'>{{errorMessagePassword}}</p>
  <br>
  <label>Confim password:</label><input type="password" name="verify" placeholder='Repeat password.' value="" required>
  <p class='error'>{{errorMessageVerify}}</p>
  <br>
  <label>Email:</label><input type="text" name="email" placeholder='Email?' value={{email}}>
  <p class='error'>{{errorMessageEmail}}</p>
  <br>
  <br>
  <label id="remember">Remember me<input type='checkbox' name='remember'></label>
  <input type='submit'>
</form>
<br>
<p>Already have an account? <a href="/users/login">Log in</a></p>
<br>




